body{
    background-color: white;
}
.warrped{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{
    height: 230px;
    width: 230px;
    background-color: #fde1c2;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Rubik-Pixels{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.Sedgwick-Ave-Display {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.Dancing-Script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Fjalla-One {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Indie-Flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
